[submodule "core"]
	path = core
	url = git@github.com:NHTAA/openhospital-core.git
[submodule "doc"]
	path = doc
	url = git@github.com:NHTAA/openhospital-doc.git
[submodule "gui"]
	path = gui
	url = git@github.com:NHTAA/openhospital-gui.git
[submodule "web"]
	path = web
	url = git@github.com:NHTAA/openhospital-web.git
