[submodule "doc"]
	path = doc
	url = https://github.com/informatici/openhospital-doc
[submodule "core"]
	path = core
	url = git@github.com:lysakaleksey/openhospital-core.git
[submodule "gui"]
	path = gui
	url = git@github.com:lysakaleksey/openhospital-gui.git
[submodule "web"]
	path = web
	url = git@github.com:lysakaleksey/openhospital-web.git
